.Landing {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://desktop.github.com/images/star-bg.svg') no-repeat;
    background-size: cover;
    background-color: rgb(30, 30, 44);;
}

#input {
    background-color: rgb(39, 41, 61); 
    color: white;
}

#input:focus {
    outline-color: white;
}

#btn {
   color: white;
}

#btn:hover {
    background-color: rgb(30, 30, 44); 
}

.Landing-heading {
    color: white;
    font-size: 60px;
    letter-spacing: 6px;
}